# Objects.
.scons-cache/
*.os

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store


#src/gen/*
.sconsign*.dblite
#build/*

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
bin
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp